@import 'variables';

* {
  color: $color-sea;
  font-family: $font;
  font-size: 20px;
}

.App {
  text-align: center;
}

.beaches-page {
  background-image: url('../images/pink.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/*Header Styling*/

.header {
  background-color: $color-ltcream;
  background-image: $pattern;
  background-size: cover;
  height: 150px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-title {
  font-family: sans-serif;
  font-size: 4.5em;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}

.header-subhead {
  font-family: $cursive-font;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 180px;
}

/*Main-Image Styling*/

.beach-image {
  margin-top: 30px;
  position: relative;
  z-index: 1
}

.bottom-image {
  display: inline-block;
  margin-bottom: 20px; 
  position: relative; 
  z-index: 0; 
}

.bottom-image:before { 
  background: #f3f3f3;
  box-shadow: $shadow-value;
  content: "none"; 
  height: 100%; 
  left: 0;
  -moz-box-shadow: $shadow-value;
  -moz-transform: $transform-value;
  -ms-transform: $transform-value;
  -o-transform: $transform-value;
  position: absolute; 
  top: 0; 
  -webkit-box-shadow: $shadow-value;
  -webkit-transform: $transform-value;
  width: 100%; 
  z-index: -5;
}

.bottom-image img {
  background: #fff;
  box-shadow: $shadow-value;
  box-sizing: content-box;
  -moz-box-shadow: $shadow-value;
  -moz-box-sizing: content-box; 
  padding: 15px;
  -webkit-box-shadow: $shadow-value;
  -webkit-box-sizing: content-box; 
  width: 100%;
}

.border img {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
}

.arrow {
  font-size: 40px;
  margin: 10px;
}

/*Filter Styling*/

.filter {
  color: black;
}

.filter-headline {
  font-family: $cursive-font;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 150px;
}

/*Body Styling*/

.beach-card {
  align-items: center;
  background: $color-ltcream;
  background-image: $pattern;
  border-radius: 15px;
  height: 400px;
  margin: auto;
  padding: 10px;
  width: 90%;
}

.beach-body {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 80px 0px 20px 0px;
  width: 100%;
}

.beach-name {
  font-family: sans-serif;
  font-size: 1em;
  margin: auto auto 10px auto;
  text-transform: uppercase;
  width: 400px;
}

.beach-name:hover {
  color: white;
  cursor: pointer;
  filter: $dropshadow-pink;
}

.beach-county {
  font-family: $cursive-font;
  font-size: 1em;
  letter-spacing: 1px;
}

.beach-pics {
  background: #fff;
  box-shadow: $shadow-value;
  box-sizing: content-box;
  height: 230px;
  margin: auto;
  -moz-box-shadow: $shadow-value;
  -moz-box-sizing: content-box; 
  padding: 10px;
  -webkit-box-shadow: $shadow-value;
  -webkit-box-sizing: content-box; 
  width: 90%;
}
