@import 'variables';


.beaches-page {
  background-image: url('../images/pink.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
}

/*Header Styling*/
.header {
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  position: fixed;
  height: 150px;
  width: 100%;
}

.header-title {
  font-size: 5em;
  text-transform: uppercase;
  color: #18153C;
  margin-top: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.header-subhead {
  font-size: 2em;
  margin-top: 180px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 1px;
  color: #18153C;
}


/*Body Styling*/
.beach-body {
  margin-top: 80px;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.beach-name {
  font-size: 1.5em;
  margin: auto auto 10px auto;
  text-transform: uppercase;
  width: 400px;
  color: #18153C;
}

.beach-county {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 1px;
  color: #18153C;
}

.beach-name:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  color: white;
}

.beach-pics {
  // border-radius: 15px;
  margin: auto;
  height: 230px;
    background: #fff;
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
  padding: 10px;
  width: 90%;
  -moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
  box-shadow:         1px 1px 2px rgba(0,0,0,.25);
}

.beach-card {
  background: rgba(255,255,255,0.76);
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: 90%;
}

.beach-image {
  margin-top: 30px;
}

.stacked-image {
  position: relative; 
  z-index: 0; 
  margin-bottom: 20px; 
  display: inline-block;
}
 
.stacked-image img {
  background: #fff;
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
  padding: 10px;
  width: 100%;
  -moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
  box-shadow:         1px 1px 2px rgba(0,0,0,.25);
}

.borderbox img {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


.stacked-image:before { 
  background: #f3f3f3;
  content: ""; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0;
  top: 0; z-index: -10;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
  box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}





