@import 'variables';

.popup {
  background: $color-sea;
  border-radius: 15px;
  display: grid;
  grid-template-areas: "img names names btn"
                       "img activ amen .";
  grid-template-columns: 50% 2fr 2fr .5fr;
  grid-template-rows: .5fr 2fr;
  margin-top: 5%;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  right: calc(50vw - 595px);
  top: 180px;
  width: 1200px;
  z-index: 3;
}

.popup-img {
  background: #fff;
  box-shadow: $shadow-val-sm;
  box-sizing: content-box;
  grid-area: img;
  -moz-box-shadow: $shadow-val-sm;
  -moz-box-sizing: content-box; 
  padding: 10px;
  width: 90%;
  -webkit-box-shadow: $shadow-val-sm;
  -webkit-box-sizing: content-box; 
}

.popup-name {
  color: white;
  font-size: 30px;
  grid-area: names;
  margin: 0;
}

.popup-county {
  color: white;
  font-size: 25px;
  grid-area: names;
  margin: 10% 0 0 0;

}

li {
  color: white;
}

.popup-activ {
  color: white;
  grid-area: activ; 
  margin-left: 10%;
  text-align: left;
}

.popup-amen {
  color: white;
  grid-area: amen;
  margin-left: 10%;
  text-align: left;
}

.pop-btn {
  color: $color-sea;
  grid-area: btn;
  height: 45%;
  position: absolute;
  right: 10px;
  width: 50%;
}

.pop-btn:hover {
  cursor: pointer;
  filter: $dropshadow-pink;
}

