@import 'variables';

.landing-page {
  background-image: url('../images/guard.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.landing-headline {
  background-color: $color-ltcoral;
  color: $color-sea;
  font-family: sans-serif;
  font-size: 4em;
  letter-spacing: 2px;
  margin: 45px 700px 30px 0px;
  padding-left: 45px;
}

.landing-subhead {
  color: $color-sea;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 550;
  letter-spacing: 2px;
  margin: 0px 715px 13px 0px;
  padding-left: 50px;
}

.landing-button {
  background-color: $color-ltcoral;
  background: none;
  border: .14em double white;
  color: white;
  font-family: $cursive-font;
  font-size: 1.1em;
  margin: 2px 20px 0px 50px;
  text-transform: uppercase;
}

.landing-button:hover {
  color: white;
  cursor: pointer;
  filter: $dropshadow-pink;
}

.sun { 
  background: white;
  border-radius:50%;  
  box-shadow: 0px 0px 200px 70px pink; 
  height:50px;
  margin: 148px 0px 0px 211px;
  opacity:0.4;  
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glow;    
  width:50px;

}

.hide {
  display: none;
}
    
@-webkit-keyframes glow {
    from { box-shadow: 0 0 0px yellow; }
    to { box-shadow: 100 100 2000px pink; }
}



