@import 'variables';


.App {
  text-align: center;
}

.landing-page {
  background-image: url('../images/guard.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.landing-headline {
  margin-top:45px;
  font-size: 4em;
  padding-left: 45px;
  margin-right: 700px;
  margin-bottom: 30px;
  background-color: rgba(254,173,185,0.5);
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #18153C;
}

.landing-subhead {
  font-size: 1.3em;
  font-weight: 550;
  margin-right: 715px;
  margin-bottom: 13px;
  padding-left: 50px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #18153C;
}

.landing-button {
  border: .14em double white;
  background: none;
  background-color: rgba(254,173,185,0.1);
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 2px 20px 0px 50px;
  font-family: 'Shadows Into Light', cursive;
}

.landing-button:hover {
  color: white;
  filter: drop-shadow(0 0 0.75rem crimson);
  cursor: pointer;
}

.hide {
  display: none;
} 

.sun { 
  margin-left: 211px; 
  margin-top: 148px;
  width:50px;
  height:50px;
  border-radius:50%;  
  background: white;
  opacity:0.4;      
  box-shadow: 0px 0px 200px 70px pink; 
  -webkit-animation-duration: 3s;
  -webkit-animation-name: glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}


    
@-webkit-keyframes glow {
    from { box-shadow: 0 0 0px yellow; }
    to { box-shadow: 100 100 2000px pink; }
}



