@import 'variables';

.nav-button {
  border: none;
  background: transparent;
  display: inline-block;
  color: $color-sea;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 120px;
  width: 152px;
  float: center;
  z-index: 10;
  position: relative;

  &:hover {
    cursor: pointer; 
    color: white;
    filter: drop-shadow(0 0 0.75rem crimson);
  }
}

.maps-page {
  background-image: url('../images/pink.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
}

.maps-subhead {
  margin-top: 150px;
}

.maps-details {
  font-family: $cursive-font ;
  letter-spacing: .8px;
  color: $color-sea;
  font-size: 35px;
  display: inline-block;
}

.fa-map-marker-alt {
  font-size: 2em;
  display: inline-block;
  padding: 15px;
  color: $color-sea;
}

.maps-body {
  margin-top: 50px;
  margin-bottom: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 80px;
  width: 100%;
}

.map {
  margin: auto;
  height: 400px;
  width: 620px;
  padding: 10px;
  border: 15px solid white;
}

.title {
  width: 46.5%;
  height: 68px;
  padding-top: 5px;
  font-size: 1.5em;
  margin: 0px 385px -99px;
  position: relative;
  z-index: 2;
  background-color: $color-sea;
  font-family: $cursive-font;
  color: white;
}


// Individual Map Styling
.map-slo-image {
  background-image: url('../images/slo.png');
  background-size: cover;
}

.map-sd-image {
  background-image: url('../images/sd.png');
  background-size: cover;
}

.map-santabarbara-image {
  background-image: url('../images/sb.png');
  background-size: cover;
}


.map-orange-image {
  background-image: url('../images/orange.png');
  background-size: cover;
}

.map-ventura-image {
  background-image: url('../images/ventura.png');
  background-size: cover;  
}

.map-la-image {
  background-image: url('../images/la.png');
  background-size: cover; 
  height: 600px;
  width: 620px; 
}









