@import 'variables';

.nav-button {
  background: transparent;
  border: none;
  display: inline-block;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 200px;
  width: 152px;
  float: right;
  z-index: 10;

  &:hover {
    cursor: pointer; 
  }
}