$color-sea: #18153C;
$color-ltcream: rgba(255,255,255,0.76);
$color-ltcoral: rgba(254,173,185,0.5);
$pattern: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");
$font:'Montserrat', sans-serif;
$cursive-font: 'Shadows Into Light', cursive;
$shadow-value: 2px 2px 1px rgba(0,0,1,.1);
$shadow-val-sm: 1px 1px 2px rgba(0,0,0,.25);
$dropshadow-pink: drop-shadow(0 0 0.75rem crimson);
$transform-value: rotate(-2deg);
