.App {
  text-align: center;
}

.landing-page {
  background-image: url('./images/guard.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}

.landing-headline {
  color: black;
  margin-top:35px;
  font-size: 5em;
  margin-right: 800px;
  margin-bottom: 30px;
  background-color: rgba(254,173,185,0.5);
/*  text-transform: uppercase;*/
}

.landing-subhead {
  color: black;
  font-size: 1.5em;
  font-weight: 450;
  margin-right: 950px;
  margin-top: 10px;
  margin-bottom: 10px;
/*  text-transform: uppercase;*/
}

    button {
      padding: 0.5em 3em;
      border: 0.14em double white;
      background: none;
      background-color: rgba(254,173,185,0.1);
      color: white;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 420;
      font-size: 1.2em;
      margin-right: 1075px;

      &:hover {
        color: white;
        text-shadow: 1px 2px 1px black;
      }
    }

.hide {
  display: none;
} 

.beaches-page {
  background-image: url('./images/pink.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
}

.beach-pics {
  height: 300px;
}

.beach-cards {
  display: grid;
  width: 100%;
}

.beach-grid {
  margin: 15px 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
  width: 100%;
}

/*BeachCard Pop-up Styling*/
.popup {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  height: 455px;
  justify-content: column;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  right: calc(50vw - 595px);
  top: 180px;
  width: 1200px;
  z-index: 3;
}

/*Header Styling*/
.header {
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.header-title {
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 20px;
}







