.App {
  text-align: center;
}

.landing-page {
  background-image: url('./images/guard.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}

.landing-headline {
  color: black;
  margin-top:35px;
  font-size: 5em;
  margin-right: 800px;
  margin-bottom: 30px;
  background-color: rgba(254,173,185,0.5);
}

.landing-subhead {
  color: black;
  font-size: 1.5em;
  font-weight: 450;
  margin-right: 950px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.landing-button {
  padding: 0.5em 3em;
  border: 0.14em double white;
  background: none;
  background-color: rgba(254,173,185,0.1);
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 420;
  font-size: 1.2em;
  margin-right: 1075px;
}

.landing-button:hover {
  color: white;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.hide {
  display: none;
} 

.beaches-page {
  background-image: url('./images/pink.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
}

/*Header Styling*/
.header {
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  position: fixed;
  height: 150px;
  width: 100%;
}

.header-title {
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 20px;
}

.beach-body {
  margin-top: 80px;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.beach-name {
  font-size: 1.5em;
  margin: auto auto 10px auto;
  text-transform: uppercase;
  width: 400px;
}

.beach-name:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  color: white;
}

.beach-pics {
  border-radius: 15px;
  margin: auto;
  width: 95%;
  height: 230px;
}

.beach-card {
  background: rgba(255,255,255,0.76);
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: 90%;
}

/*BeachCard Pop-up Styling*/
.popup {
  background: black;
  border-radius: 15px;
  color: white;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  height: 550px;
  overflow: hidden;
  position: fixed;
  padding: 10px;
  right: calc(50vw - 595px);
  top: 180px;
  width: 1200px;
  z-index: 3;
}

.popup-img {
  border-radius: 15px;
  height: 400px;
}

.filter-dropdown {
  margin-top: 200px;
}



